<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  <h3>Your Sinai Health Systems student evaluations portal</h3>
  <p>
  <%= @student.name %>, the following is your personal link that allows you to request evaluations from SHS providers.
  </p>
  <p>
  <b>Please save this email or bookmark the link</b> for the duration of your rotation, because you'll need to use it for all future evaluation requests.
  </p>
  <p>
    <a href="<%= @url %>"><%= @url %></a>
  </p>
  </body>
</html>
