/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.notice {
  background-color: #D9EAD3;
  border: 1px solid #93C47D;
  padding: 4px;
  border-radius: 5px;
  text-align: center;
}

.alert {
  background-color: #F4CCCC;
  border: 1px solid #E06666;
  padding: 4px;
  border-radius: 5px;
  text-align: center;
}

form.compactForm fieldset > ol > li {
  padding: 2px 10px;
}

/* really hide hidden formtastic inputs */
form fieldset > ol > li.hidden {
  padding: 0;
}

/* fix dumb looking headers */
h2, h3 {
  line-height: 1em;
}
