<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  <h3>Your Sinai Health Systems Student Evaluation is due</h3>
  <p>
  <%= @evaluation.student_name %>, please follow <a href="<%= @url %>">this link</a> to complete your portion of your student evaluation.
  </p>
  <p>
    <a href="<%= @url %>"><%= @url %></a>
  </p>
  </body>
</html>
